img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  background: var(--background-list-color);
  padding: 60px 0;
  width: 100%;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.film__image{
    border-radius: 5px;
    width: 280px;
    height: 402px;
    margin-bottom: 10px;  
    box-shadow: 2px 4px 8px 1px rgb(105, 104, 104, 0.5), 2px 4px 8px 3px rgb(255, 107, 8, 0.6); 
    transition-property: transform;
    transition-duration: 250ms;
  
    @media screen and (min-width: 768px) {
    width: 336px;
    height: 500px;
    margin-bottom: 8px;
    } 
    @media screen and (min-width: 1024px) {
    width: 309px;
    height: 449px;
    }       

    &:hover,
    &:focus {
    transform: scale(1.035);
  }
}

.film__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -16px;
  
}



.filmCard__wrap{
   margin-bottom: 32px;
      
      @media screen and (min-width: 768px) {
      flex-basis: calc(100% / 2 - 16px);
      margin-left: 32px;
      &:nth-child(odd){
        margin-left: 0;
      }
      }

     @media screen and (min-width: 1024px) {
     flex-basis: calc(100% / 3 - 11px);
     margin-left: 16px;
      &:nth-child(odd){
        margin-left: 16px;
      }
      &:nth-child(3n+1){
        margin-left: 0px;
      }
     } 
}  



.info {
  width: 280px;

  @media screen and (min-width: 768px) {
    width: 336px;
  }

  @media screen and (min-width: 1024px) {
    width: 309px;
  }
}

.info__title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.info__wrap {
  display: flex;
  margin: 0 auto;
  color: var(--accent-color);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
}

.info__releaseDate {
  margin-left: 5px;
  margin-top: 0;
  margin-bottom: 0;
}

.info__genre {
  margin-right: 5px;
  margin-top: 0;
  margin-bottom: 0;
}

.info__voteAverage {
    height: 16px;
    width: 36px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    background-color: #FF6B08;
}

.info_voteValue {
    color: #ffffff;
}

.stick {
  width: 1.5px;
  height: 10px;
  background-color: var(--accent-color);
  margin-top: 2px;
}

.pagination {
  display: flex;
  justify-content: center;
}

.pagination li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(16 / 12);
  border-radius: 5px;
  cursor: pointer;
}

.pagination li:first-child,
.pagination li:last-child {
  background: var(--background-color-footer);
  font-size: 18px;
}

.pagination li.isActive {
  background: var(--accent-color);
  color: var(--primari-white-color);
}

.pagination li:hover {
  transform: scale(1.1);
  box-shadow: inset 0 0 0.5rem, 0.5rem var(--primari-white-color);
}
