.section{

}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}


.film__list{

}

.pagination {
    display: flex;
}

.pagination li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
}

.pagination li.isActive {
    background: orange;
}