.section--bgd {
  box-shadow: inset 0px 14px 15px -7px var(--accent-color);
  background: linear-gradient(
    90deg,
    rgba(17, 17, 17, 1) 0%,
    rgba(77, 68, 64, 1) 50%,
    rgba(77, 68, 64, 1) 51%,
    rgba(17, 17, 17, 1) 100%
  );
}

.footer--shadow {
  box-shadow: 0 0 15px 8px var(--accent-color);
}
