body {
  font-family: 'Roboto', sans-serif;
}

.footer {
  height: 100px;
  background-color: #f7f7f7;
  padding-top: 28px;
  @media screen and (min-width: 768px) {
    height: 79px;
  }
  @media screen and (min-width: 1024px) {
    height: 77px;
  }
}
.footer-container {
  text-align: center;
}
.footer-paragraph {
  margin-top: 0;
  margin-bottom: 0;
  color: #545454;
  @include font(14px, 400, 1.14, 0.05em);
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.18;
  }
}
.second-text {
  @media screen and (max-width: 767px) {
    display: inline-block;
    margin-top: 10px;
  }
}

.icon-heart {
  margin-left: 10px;
  margin-right: 10px;
}
.footer-link {
  color: #545454;
  &:hover {
    color: #ff6b08;
  }
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.footer-backdrop {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.footer-modal {
  background-color: #f4f4f4;
  margin: 20% auto;
  padding: 20px;
  width: 50%;
  height: 70%;
  box-shadow: 5px 5px 4px 5px rgba(255, 107, 8, 0.3);
}
.footer-closeModalBtn {
  float: right;
  background-color: transparent;
  border: none;
  cursor: pointer;
  fill: black;
  &:hover {
    fill: #ff6b08;
  }
}
