body {
  font-family: 'Roboto', sans-serif;
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}

.header {
  background-color: var(--header-background-color);

  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.4)),
    url(../images/Rectangle-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.4)),
        url(../images/header/Rectangle-mob-2x.png);
    }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.4)),
      url(../images/Rectangle-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.4)),
          url(../images/header/Rectangle-tab-2x.png);
      }
  }

  @media screen and (min-width: 1024px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.4)),
      url(../images/Rectangle-3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.4)),
          url(../images/header/Rectangle-desk-2x.png);
      }
  }
}
.header__container {
  padding: 44px 20px 60px 20px;
  position: relative;
  @media screen and (min-width: 768px) {
    padding: 40px 32px 60px 32px;
  }
}
.header__navigation {
  display: flex;
  justify-content: space-between;
}
.header-nav--pege {
  position: relative;
  &::after {
    position: absolute;
    bottom: -3px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--header-accent-color);
  }
  &:hover,
  &:focus {
    color: var(--header-text-color);
  }
}
.header__logo {
  @include font(30px, 500, 1.16, 0.03em);
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--header-text-color);
}
.header__title {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    margin-left: 10px;
  }
}
.header__list {
  display: flex;
}
.header__nav:not(:last-child) {
  margin-right: 40px;
}
.header__link {
  color: var(--header-text-color);
  @include font(12px, 500, 1.16, 0.03em);
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  &:hover,
  &:focus {
    color: var(--header-accent-color);
  }
}
.header__form {
  position: relative;
  width: 200px;
  height: 20px;
  margin: 51px auto 20px auto;
  border-bottom: 0.5px solid var(--header-text-color);
  @media screen and (min-width: 768px) {
    margin: 41px auto 20px auto;
    width: 330px;
  }
}
.header__input {
  width: 150px;
  border: none;
  background-color: transparent;
  color: var(--header-text-color);
  outline: none;
  @media screen and (min-width: 768px) {
    width: 250px;
  }
}
.form__btn {
  position: absolute;
  top: 0;
  right: 0;
  border-color: transparent;
  background-color: transparent;
  cursor: pointer;
  font-family: inherit;
  outline: none;
}
.header__input::placeholder {
  @include font(14px, 400, 1.14, 0.03em);
  color: var(--header-text-color);
}
.header__input::-webkit-input-placeholder,
.header__input::-moz-placeholder,
.header__input:-moz-placeholder,
.header__input:-ms-input-placeholder {
  @include font(14px, 400, 1.14, 0.03em);
  color: var(--header-text-color);
}

.header__nav_mobile-style:not(:last-child){
  @media screen and (max-width: 767px){
  margin-right: 0;  
  }  
}

.header__nav_mobile-style{
  @media screen and (max-width: 767px){  
     margin-left: 12px;
    }
}
