.library__container {
  padding: 44px 0 60px 0;
  @media screen and (min-width: 768px) {
    padding: 40px 12px 60px 12px;
  }
}
.my-library {
  background-color: rgba(0, 0, 0, 0.56);
  background-image: url(../images/Library-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @media screen and (min-width: 768px) {
    background-image: url(../images/Library-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  @media screen and (min-width: 1024px) {
    background-image: url(../images/Library-3.jpg);
    background-position: center;
    background-size: cover;
  }
}
.header__button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px auto 0 auto;
  padding: 0;
}
.header__btns {
  width: 129px;
  height: 44px;
  @include font(12px, 500, 1.33, 0.03em);
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  font-family: inherit;
  color: $primari-white-color;
  @media screen and (min-width: 768px) {
    width: 152px;
  }
  @media screen and (min-width: 1024px) {
    width: 148px;
    height: 42px;
  }
}
.header__item:not(:first-child) {
  margin-left: 16px;
}
.header__btn--active {
  filter: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));
  border: transparent;
  background-color: #ff6b01;
}
.header__btn--noactive {
  background-color: transparent;
  border: 1px solid $primari-white-color;
}
