:root {
  --header-text-color: #ffffff;
  --header-accent-color: #ff6b08;
  --header-background-color: rgba(0, 0, 0, 0.56);
  --primari-white-color: #ffffff;
  --accent-color: #ff6b08;
  --primary-text-color: #000000;
  --secondary-text-color: #000000;
  --background-list-color: #ffffff;
  --footer-background-color: #f7f7f7;
  --footer-text-color: #545454;
  --footer-text-modal: #000000;
  --footer-bgd-modal: #f7f7f7;
  --information-modal-text-color: #8c8c8c;
  --bgd-modal-color: #ffffff;
  --text-modal-color: #000000;
}
