:root {
  --primari-white-color: #ffffff;
  --accent-color: #ff6b08;
  --primary-text-color: #000000;
  --background-color-footer: #f7f7f7;
  --background-color-header: rgba(0, 0, 0, 0.56);
  --footer-text-color: #545454;
}

// $primari-white-color: #ffffff;
// $accent-color: #ff6b08;
// $primary-text-color: #000000;
// $background-color-footer: #f7f7f7;
