/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
// Стили для файла с примером HTML-фрагмента

@import './container.scss';
@import './variables';
@import './mixin.scss';
@import './example.scss';
@import './header.scss';
@import './my-library.scss';
@import './card.scss';
@import './cards-container';
@import './pagination';
@import './footer.scss';
@import './modal.scss';
@import './footer.scss';
@import './switcher';
@import './dark-team';
@import './trailer';
