<footer class="footer">
<div class="footer-container container">
    <p class="footer-paragraph">&copy; 2022 | All Rights Reserved | 
        <span class="second-text">Developed with
        <svg class="icon-heart" width="14" height="12.88">
        <use href="./images/symbol-defs.svg#icon-heart"></use>
    </svg> 
    by <a class="footer-link" href="">GoIT Students</a>
    </span>
    </p>
</div>
<div class="footer-backdrop is-hidden">
    <div class="footer-modal">
        <div class="team-container">
        <button type="button" class="footer-closeModalBtn">
            <svg class="modal-close-icon" width="30px" height="30px">
                <use href="./images/symbol-defs.svg#icon-close"></use>
            </svg>
        </button>
<h1 class="team-title">Our Team Members</h1>
    <ul class="team-list list">
        <li class="team-item">
            <div class="photo-card">
            <img class="team-image" src="./images/minionlead.jpg" alt="Photo of Team memeber">
            <h3 class="team-item-title">Roman</h3>
            <div class="photo-info">
                <a class="github-link" href="https://github.com/RomaSamkov">
                    <svg class="modal-team-icon" width="30px" height="30px">
                        <use href="./images/symbol-defs.svg#icon-github"></use>
                    </svg>
                </a>
                <p class="team-item-p">Team lead</p>
                </div>
            </div>
            
        </li>
        <li class="team-item">
            <div class="photo-card">
            <img class="team-image" src="./images/femalepink.jpg" alt="Photo of Team memeber">
            <h3 class="team-item-title">Ivika</h3>
            <div class="photo-info">
                <a class="github-link" href="https://github.com/IvetaDuda">
                    <svg class="modal-team-icon" width="30px" height="30px">
                        <use href="./images/symbol-defs.svg#icon-github"></use>
                    </svg> 
                </a>
                <p class="team-item-p">Scrum Master</p>
                </div>
            </div>
            
        </li>
        <li class="team-item">
             <div class="photo-card">
            <img class="team-image" src="./images/minion1.jpg" alt="Photo of Team memeber">
            <h3 class="team-item-title">Dmytro</h3>
            <div class="photo-info">
                <a class="github-link" href="https://github.com/DKolod">
                    <svg class="modal-team-icon" width="30px" height="30px">
                        <use href="./images/symbol-defs.svg#icon-github"></use>
                    </svg>
                </a>
                </div>
            </div>
                
        </li>
        <li class="team-item">
            <div class="photo-card">
            <img class="team-image" src="./images/minion2.jpg" alt="Photo of Team memeber">
            <h3 class="team-item-title">Ivan</h3>
            <div class="photo-info">
                            <a class="github-link" href="https://github.com/Ivan-Laptiev">
                                <svg class="modal-team-icon" width="30px" height="30px">
                                    <use href="./images/symbol-defs.svg#icon-github"></use>
                                </svg>
                            </a>
                        </div>
                        </div>
                
        </li>
        <li class="team-item">
            <div class="photo-card">
            <img class="team-image" src="./images/minion3.jpg" alt="Photo of Team memeber">
            <h3 class="team-item-title">Vasiliy</h3>
            <div class="photo-info">
                            <a class="github-link" href="https://github.com/VasylArtymovych">
                                <svg class="modal-team-icon" width="30px" height="30px">
                                    <use href="./images/symbol-defs.svg#icon-github"></use>
                                </svg>
                            </a>
                            </div>
                        </div>
                
        </li>
        <li class="team-item">
            <div class="photo-card">
            <img class="team-image" src="./images/minion4.jpg" alt="Photo of Team memeber">
            <h3 class="team-item-title">Volodymyr</h3>
            <div class="photo-info">
                            <a class="github-link" href="https://github.com/PolztiukVolodymyr">
                                <svg class="modal-team-icon" width="30px" height="30px">
                                    <use href="./images/symbol-defs.svg#icon-github"></use>
                                </svg>
                            </a>
                            </div>
                        </div>
                
        </li>
        <li class="team-item">
            <div class="photo-card">
            <img class="team-image" src="./images/minion5.jpg" alt="Photo of Team memeber">
            <h3 class="team-item-title">Maks</h3>
            <div class="photo-info">
                            <a class="github-link" href="https://github.com/SheihMaks">
                                <svg class="modal-team-icon" width="30px" height="30px">
                                    <use href="./images/symbol-defs.svg#icon-github"></use>
                                </svg>
                            </a>
                            </div>
                        </div>
                
        </li>
        <li class="team-item">
            <div class="photo-card">
            <img class="team-image" src="./images/minion6.jpg" alt="Photo of Team memeber">
            <h3 class="team-item-title">Vitalii</h3>
            <div class="photo-info">
                            <a class="github-link" href="https://github.com/SpaceVit">
                                <svg class="modal-team-icon" width="30px" height="30px">
                                    <use href="./images/symbol-defs.svg#icon-github"></use>
                                </svg>
                            </a>
                            </div>
                        </div>
                
        </li>
        <li class="team-item">
            <div class="photo-card">
            <img class="team-image" src="./images/minion7.jpg" alt="Photo of Team memeber">
            <h3 class="team-item-title">Yurii</h3>
            <div class="photo-info">
                            <a class="github-link" href="https://github.com/yur-dov">
                                <svg class="modal-team-icon" width="30px" height="30px">
                                    <use href="./images/symbol-defs.svg#icon-github"></use>
                                </svg>
                            </a>
                            </div>
                        </div>
                
        </li>
        <li class="team-item">
            <div class="photo-card">
            <img class="team-image" src="./images/femalegreen.jpg" alt="Photo of Team memeber">
            <h3 class="team-item-title">Anastasiia</h3>
            <div class="photo-info">
                            <a class="github-link" href="">
                                <svg class="modal-team-icon" width="30px" height="30px">
                                    <use href="./images/symbol-defs.svg#icon-github"></use>
                                </svg>
                            </a>
                            </div>
                        </div>
                
        </li>
    </ul>
</div>
    </div>
</div>
</footer>