<footer class="footer">
<div class="footer-container container">
    <p class="footer-paragraph">&copy; 2020 | All Rights Reserved | 
        <span class="second-text">Developed with
        <svg class="icon-heart" width="14" height="12.88">
        <use href="./images/symbol-defs.svg#icon-heart"></use>
    </svg> 
    by <a class="footer-link" href="">GoIT Students</a>
    </span>
    </p>
</div>
<div class="footer-backdrop is-hidden">
    <div class="footer-modal">
        <button type="button" class="footer-closeModalBtn">
            <svg class="modal-close-icon" width="20px" height="20px">
                <use href="./images/symbol-defs.svg#icon-close"></use>
            </svg>
        </button>
<p>Our Team</p>
    </div>
</div>
</footer>