<footer class="footer">
  <div class="footer-container container">
    <p class="footer-paragraph">
      &copy; 2022 | All Rights Reserved |
      <span class="second-text"
        >Developed with
        <span class="heart-icon">
          <svg class="icon-heart" width="14" height="12.88">
            <use href="./images/symbol-defs.svg#icon-heart"></use>
          </svg>
        </span>
        by <a class="footer-link" href="">GoIT Students</a>
      </span>
    </p>
  </div>
  <div class="footer-backdrop is-hidden">
    <div class="footer-modal">
        <button type="button" class="footer-closeModalBtn">
          <svg class="modal-close-icon" width="30px" height="30px">
            <use href="./images/symbol-defs.svg#icon-close"></use>
          </svg>
        </button>
<h1 class="team-title">DevTeamPictures!</h1>
    <ul class="team-list list">
        <li class="team-item"> 
            <div class="photo-card">
            <img class="team-image" src="./images/Roman.jpg" alt="Photo of Team memeber">
            <h3 class="team-item-title">
           <a class="github-link" href="https://github.com/RomaSamkov">
         <svg class="modal-team-icon" width="20px" height="20px">
        <use href="./images/symbol-defs.svg#icon-github"></use>
         </svg>
          </a> Roman</h3>
            <p class="team-item-p">Team lead</p>
            </div>
          </li>
          <li class="team-item">
            <div class="photo-card">
            <img class="team-image" src="./images/Ivika.jpg" alt="Photo of Team memeber">
            <h3 class="team-item-title">
                <a class="github-link" href="https://github.com/IvetaDuda">
                    <svg class="modal-team-icon" width="20px" height="20px">
                        <use href="./images/symbol-defs.svg#icon-github"></use>
                    </svg> 
                </a>Ivika</h3>
                <p class="team-item-p">Scrum Master</p>
            </div>
            
        </li>
        <li class="team-item">
             <div class="photo-card">
            <img class="team-image" src="./images/Dmytro.jpg" alt="Photo of Team memeber">
            <h3 class="team-item-title">
                <a class="github-link" href="https://github.com/DKolod">
                    <svg class="modal-team-icon" width="20px" height="20px">
                        <use href="./images/symbol-defs.svg#icon-github"></use>
                    </svg>
                </a>Dmytro</h3>
             <p class="team-item-p">Developer</p>
            </div>
          </li>
          <li class="team-item">
            <div class="photo-card">
            <img class="team-image" src="./images/Ivan.jpg" alt="Photo of Team memeber">
            <h3 class="team-item-title">
                            <a class="github-link" href="https://github.com/Ivan-Laptiev">
                                <svg class="modal-team-icon" width="20px" height="20px">
                                    <use href="./images/symbol-defs.svg#icon-github"></use>
                                </svg>
                            </a>Ivan</h3>
                            <p class="team-item-p">Developer</p>
                        </div>
                
        </li>
        <li class="team-item">
            <div class="photo-card">
            <img class="team-image" src="./images/Vasiliy.jpg" alt="Photo of Team memeber">
            <h3 class="team-item-title">
                            <a class="github-link" href="https://github.com/VasylArtymovych">
                                <svg class="modal-team-icon" width="20px" height="20px">
                                    <use href="./images/symbol-defs.svg#icon-github"></use>
                                </svg>
                            </a>Vasiliy</h3>
                            <p class="team-item-p">Developer</p>
                        </div>
                
        </li>
        <li class="team-item">
            <div class="photo-card">
            <img class="team-image" src="./images/Volodymyr.jpg" alt="Photo of Team memeber">
            <h3 class="team-item-title">
                            <a class="github-link" href="https://github.com/PolztiukVolodymyr">
                                <svg class="modal-team-icon" width="20px" height="20px">
                                    <use href="./images/symbol-defs.svg#icon-github"></use>
                                </svg>
                            </a>Volodymyr</h3>
                            <p class="team-item-p">Developer</p>
                        </div>
                
        </li>
        <li class="team-item">
            <div class="photo-card">
            <img class="team-image" src="./images/Maks.jpg" alt="Photo of Team memeber">
            <h3 class="team-item-title">
              <a class="github-link" href="https://github.com/SheihMaks">
              <svg class="modal-team-icon" width="20px" height="20px">
             <use href="./images/symbol-defs.svg#icon-github"></use>
           </svg>
        </a>Maks</h3>
        <p class="team-item-p">Developer</p>
              </div>
                
        </li>
        <li class="team-item">
            <div class="photo-card">
            <img class="team-image" src="./images/Vitalii.jpg" alt="Photo of Team memeber">
            <h3 class="team-item-title">
                 <a class="github-link" href="https://github.com/SpaceVit">
                  <svg class="modal-team-icon" width="20px" height="20px">
                   <use href="./images/symbol-defs.svg#icon-github"></use>
                 </svg>
                 </a>Vitalii</h3>
                <p class="team-item-p">Developer</p>
                        </div>
                
        </li>
        <li class="team-item">
            <div class="photo-card">
            <img class="team-image" src="./images/Yurii.jpg" alt="Photo of Team memeber">
            <h3 class="team-item-title">
                 <a class="github-link" href="https://github.com/yur-dov">
                   <svg class="modal-team-icon" width="20px" height="20px">
                    <use href="./images/symbol-defs.svg#icon-github"></use>
                     </svg>
                        </a>Yurii</h3>
                        <p class="team-item-p">Developer</p>
      </div>
                
        </li>
        <li class="team-item">
            <div class="photo-card">
            <img class="team-image" src="./images/Anastasiia.jpg" alt="Photo of Team memeber">
            <h3 class="team-item-title">
               <a class="github-link" href="">
                 <svg class="modal-team-icon" width="20px" height="20px">
                   <use href="./images/symbol-defs.svg#icon-github"></use>
                    </svg>
                       </a>Anastasiia</h3>
                    <p class="team-item-p">Developer</p>
                        </div>     
        </li>
    </ul>

    </div>
  </div>
</footer>
