<div class="modalLogin-backdrop is-hidden">
  <div class="modal-up__login">
    <button type="button" class="js-loginModal-closeButton">
      <svg class="modal-close-icon" width="30px" height="30px" style="fill: black">
        <use href="./images/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
    <div class="form-register_group">
      <form class="loginForm registerForm">
        <p class="registerModalText">Register to Filmoteka</p>
        <div class="group">
          <span class="registerFormText">Email</span>
          <input id="regEmail" type="email" placeholder="Your Email" class="registerFormInput" />
        </div>
        <div class="group">
          <span class="registerFormText">Password</span>
          <div class="passwordChangeText">
            <input
              id="regPassword"
              type="password"
              placeholder="Password"
              class="registerFormInput"
            />
            <button type="button" href="#" class="regChangeBtn">
              <svg class="openChangeReg eyeCange" width="18" height="18">
                <use href="./images/symbol-defs.svg#icon-eye"></use>
              </svg>
              <svg class="closedChangeReg eyeCange changeEyes" width="18" height="18">
                <use href="./images/symbol-defs.svg#icon-eye-blocked"></use>
              </svg>
            </button>
          </div>
          <button class="regFormButton js-btn-reg" id="regSubmitData" type="button">Sign Up</button>
        </div>
      </form>
      <form class="loginForm registerForm">
        <p class="registerModalText">Sign In to Filmoteka</p>
        <div class="group">
          <span class="registerFormText">Email</span>
          <input id="logEmail" type="email" placeholder="Your Email" class="registerFormInput" />
        </div>
        <div class="group">
          <span class="registerFormText">Password</span>
          <div class="passwordChangeText">
            <input
              id="logPassword"
              type="password"
              placeholder="Password"
              class="registerFormInput"
            />
            <button type="button" href="#" class="logChangeBtn openEye">
              <svg class="openChangeLog eyeCange" width="18" height="18">
                <use href="./images/symbol-defs.svg#icon-eye"></use>
              </svg>
              <svg class="closedChangeLog eyeCange changeEyes" width="18" height="18">
                <use href="./images/symbol-defs.svg#icon-eye-blocked"></use>
              </svg>
            </button>
          </div>
          <button class="regFormButton js-btn-log" id="logSubmitData" type="button">Sign In</button>
        </div>
      </form>
    </div>
    <div class="modal-info">
      <div class="modal-container"></div>
    </div>
  </div>
</div>
