<div class="modalLogin-backdrop is-hidden">
    <div class="modal-up">
      <button type="button" class="js-loginModal-closeButton">
        <svg class="modal-close-icon" width="30px" height="30px" style="fill: black">
          <use href="./images/symbol-defs.svg#icon-close"></use>
        </svg>
      </button>
      <p class="registerModalText">Register to Filmoteka</p>
      <form class="loginForm registerForm">
        <div class="group">
            <span class="registerFormText">Email</span>
          <input id="regEmail" type="email" placeholder="Your Email" class="registerFormInput" />
          </div>
        <div class="group">
            <span class="registerFormText">Password</span>
          <input id="regPassword" type="password" placeholder="Password" class="registerFormInput"/>
          <button class="regFormButton js-btn-reg modal-button" id="regSubmitData" type="button">
            Sign Up
          </button>
        </div>
      </form>
      <p class="registerModalText">Sign In to Filmoteka</p>
      <form class="loginForm registerForm">
        <div class="group">
            <span class="registerFormText">Email</span>
          <input id="logEmail" type="email" placeholder="Your Email" class="registerFormInput" />
         </div>
        <div class="group">
            <span class="registerFormText">Password</span>
          <input id="logPassword" type="password" placeholder="Password" class="registerFormInput" />
          <button class="regFormButton js-btn-log modal-button" id="logSubmitData" type="button">
            Sign In
          </button>          
        </div>
      </form>
  
      <div class="modal-info">
        <div class="modal-container"></div>
      </div>
    </div>
  </div>
  