<div class="modal-backdrop is-hidden">
  <div class="modal-up">
    <button type="button" class="modal-closeButton">
      <svg class="modal-close-icon" width="30px" height="30px" style="fill: black">
        <use href="./images/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>

    <div class="modal-wrap">
      <div class="modal-container"></div>
      <div class="modal-button-list">
        <button class="modal-button">add to Watched</button>
        <button class="modal-button">add to queue</button>
      </div>
    </div>
  </div>
</div>
